.container {
  background-color: #475569;
  display: flex;
  align-items: flex-start;
}

.events-container {
  width: 60%;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 4px;
  overflow-y: auto;
}

.events-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
  line-height: 1.2px;
  margin: 0px;
  margin-left: 30px;
}

.events-list-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0px;
}
